body {
    width: 100%;
    display: grid;
    grid-template-columns: 10vh 80vh 10vh;
    grid-template-rows: 20vh 70vh 10vh;
    margin: 0;
    /*overflow: hidden;*/
}

#map-container {
    grid-column:1;
    grid-row:1;
    border: 1px solid #ccc;
}

#player {
    width: 20px;
    height: 20px;
    background-color: blue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}